.wrapper {
  background: var(--dark-grey-darker);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(1px, 1fr));
  gap: 10px;
  padding: 30px 0;

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, minmax(1px, 1fr));
    gap: 30px;
  }

  &__item {
    margin: 0 auto;

    @media (max-width: 500px) {
      max-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

.title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-bottom: 6px;
  color: var(--grey);
}

.submenu {
  font-size: 14px;
  line-height: 12px;
  color: var(--grey-background-light);
  padding: 4px 0;
  transition: 0.3s;

  &__red {
    color: red;
  }
  &:hover {
    color: var(--grey);
  }
}
