.list {
  display: grid;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;

  &__less {
    grid-template-columns: repeat(3, minmax(1px, 1fr));

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(1px, 1fr));
    }
  }

  &__more {
    grid-template-columns: repeat(4, minmax(1px, 1fr));

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(1px, 1fr));
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  cursor: pointer;
  height: 100%;
  @media (min-width: 2200px) {
    height: fit-content;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--black-text-light);
    @media (min-width: 2200px) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: var(--black-dark);
    padding-bottom: 10px;
  }

  &:hover {
    .hoverEffect {
      opacity: 1;
      transition: var(--transition-default);
      z-index: 2;
    }
  }
}

.hoverEffect {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  opacity: 0;
  transition: var(--transition-default);

  @media (max-width: 768px) {
    opacity: 1;
  }
}
