@import '../../styles/mixins';

.burger {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-index-modal);
  background: var(--black-opacity);
  @include blur-softer;

  &Content {
    width: 60%;
    height: 100vh;
    background: var(--body-background);
  }
}

.close {
  padding: 20px 0;
  background: var(--grey);
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--white);
  width: 60%;
  cursor: pointer;
}
