.header__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.title__article {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
}

.description__article {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
