.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 34px 0;
  text-align: center;
}

.list {
  display: grid;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;

  &__less {
    grid-template-columns: repeat(3, minmax(1px, 1fr));

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(1px, 1fr));
    }
  }

  &__more {
    grid-template-columns: repeat(4, minmax(1px, 1fr));

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(1px, 1fr));
    }
  }
}

.item {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  cursor: pointer;
  height: 100%;
  min-height: 450px;

  &Title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--black-text-light);
  }

  &Price {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: var(--black-dark);
  }

  &:hover {
    .hoverEffect {
      opacity: 1;
      transition: var(--transition-default);
      z-index: 2;
    }
  }
}

.hoverEffect {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  opacity: 0;
  transition: var(--transition-default);
}

.content {
  display: flex;
  gap: 20px;
  padding: 0 16px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}

.columnSizeButton {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  background: var(--white-dark);
  padding: 10px 30px 10px 0;
  margin-bottom: 20px;
}

.row {
  fill: var(--grey-light);

  &Active {
    fill: var(--black);
  }
}

.filters {
  @media (max-width: 768px) {
    display: none;
  }
}

.buttonBurger {
  text-align: end;
  margin: 0 30px 20px 10px;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
