@import '../../../styles/mixins';

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 34px 0;
  text-align: center;
}

.content {
  display: flex;
  gap: 20px;
  padding: 0 16px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}

.modalMessage {
  padding: 20px 0;
  @include flex-between;
  gap: 20px;
  height: 100%;
  line-height: 1.5;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
