.likesSpan {
  position: absolute;
  top: -20%;
  right: -50%;
  color: var(--black);
  background: var(--body-background);
  padding: 2px;
  font-size: 12px;
  border-radius: 50px;
}

.image {
  width: 100px;
  height: 100px;
}

.text {
  color: var(--black);

  &__dark {
    color: var(--black);
    font-weight: 500;
  }
}
