@import '../../../../../../styles/mixins';

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: var(--z-index-modal);
  background: var(--black-opacity);
  @include blur-softer;

  &Content {
    padding: 16px;
    width: 100%;
    height: fit-content;
    background: var(--body-background);
  }
}
