@import '../../../../styles/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-index-header);
  border-bottom: 1px solid var(--black-hidden);
  background: var(--body-background);
  padding: 8px 0;
}

.body {
  @include flex-between;
}

.burgerButton {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 12px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 2px;
    background: var(--black);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background: var(--black);
  }
}

.search {
  font-size: 20px;
  border-bottom: 1px solid var(--grey);
  width: 100%;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.menuList {
  padding: 16px 20px;
  width: 100%;
  background: var(--white);
  border-top: 1px solid var(--grey);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition-default);

  &:last-child {
    border-bottom: 1px solid var(--grey);
  }

  &:hover {
    background: var(--grey-opacity);
  }
}
