@import '../../../../styles/mixins';

.mailing {
  background: var(--dark-grey-lighter);
  padding: 50px 16px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-align: center;
}

.form {
  @include flex-center;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
    gap: 20px;
  }
}

.modal {
  padding: 16px;
  text-align: center;
  max-width: 600px;

  &Title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    color: var(--green);
  }
}
